<div *ngIf="product" class="container">
  <div class="row">
    <div class="col-md-6 pull-left">
      <div class="mb-lg-5">
        <h2><strong>{{product.name}} check</strong></h2>
        <div>
          <h5><strong class="mr-2">Price:</strong> <span>$ {{product.sellingPrice}}</span></h5>
        </div>
      </div>
      
      <img width="100%" src="https://image-us.samsung.com/us/smartphones/galaxy-s22/images/gallery/R0-Green/FLRC-214-R0-Green-01-PDP-GALLERY-1600x1200.jpg?$product-details-jpg$" />
    </div>
    <div class=" col-md-6 pull-right">
      
      <div class="mt-4">
        <div>
          <label>Quantity: </label>
          <input type="number" placeholder="Quantity..." [(ngModel)]="quantity"/>
        </div>
        
        <br/>
        <button (click)="handleAddToCart(product)" class="btn btn-success">Add to Cart
        </button>
      </div>
    </div>
  </div>

  <app-loading [condition]="isLoading"></app-loading>
</div>

<app-toast [message]="toast.message"></app-toast>
