<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/users">Manage User</a></li>
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/products">Manage Products</a>
                </li>
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/categories">Manage Categories</a>
                </li>
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/vendors">Manage Vendors</a></li>
            </ul>
        </div>
        <div class="col-md-8 product-list">
            <h4>Category List</h4>

            <div class="text-right mb-4">
                <button (click)="createCategory()" class="btn btn-primary" type="button">
                    Create Category
                </button>
            </div>

            <div style="height: 75vh; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category ID</th>
                            <th>Category Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-4">
                            <td>{{category.id}}</td>
                            <td>{{category.name}}</td>
                            <td *ngIf="true">
                                <span>
                                  <button (click)="edit(category)" class="btn btn-warning" type="button">
                                    Edit
                                  </button>
                                </span>
                            </td>
                            <td *ngIf="true">
                                <span>
                                  <button (click)="delete(category)" class="btn btn-danger" type="button">
                                    Delete
                                  </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" [ngClass]="{'modal-open-c show': isModalOpen}">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Create/Update Category</h4>
                    <button type="button" (click)="closemodal()" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 60vh; overflow-y: auto;">
                    <div class="form-group">
                        <label>Category Name:</label>
                        <input type="text" class="form-control" required [(ngModel)]="modalCategory.name" placeholder="Category Name">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" (click)="saveOrUpdateCategory()" class="btn btn-primary"
                        data-dismiss="modal">Save</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-backdrop show" *ngIf="isModalOpen"></div>
</div>