<div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 border-bottom box-shadow">
  <a class="mr-md-auto navbar-brand" routerLink="/">
    <img alt="" height="50" loading="lazy" src="https://resources.easystore.co/website/images/logo/png/easystore-logo-horizontal.png">
  </a>
  <div class="input-group" style="width: 40%;">
    <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search">
    <div class="input-group-append">
      <button class="btn btn-success" (click)="search()">Search</button>
    </div>
  </div>
  <nav>
    <ng-container *ngIf="!isLogedIn">
      <a class="m-1 btn btn-outline-dark" routerLink="/account/register">Register</a>
      <a class="m-1 btn btn-outline-dark" routerLink="/account/login">Login</a>
    </ng-container>
    <ng-container >
      <a class="m-1 btn btn-outline-dark" routerLink="/cart">
        <app-cart-item-counter></app-cart-item-counter>
      </a>
      <a (click)="logout()" *ngIf="isLogedIn" class="m-1 btn btn-outline-dark" routerLink="/">Logout</a>
      <a class="m-1 btn btn-outline-dark" *ngIf="isAdmin" routerLink="/admin">SysAdmin</a>
      <a class="m-1 btn btn-outline-dark" *ngIf="isVendor" routerLink="/vendor">Vendor</a>
      <a class="m-1 btn btn-outline-dark" *ngIf="isVendor">Welcome {{username}}!!!</a>

    </ng-container>

  </nav>
</div>
