<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/users">Manage User</a></li>
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/products">Manage Products</a>
                </li>
            </ul>
        </div>

        <div class="product-list">
            <h4>Product List</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Vendor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-4">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.vendor_id}}</td>
                        <button type="button" class="btn btn-success ml-2">Approve</button>
                        <button type="button" class="btn btn-danger ml-2">Decline</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>