<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/users">Manage User</a></li>
                <li class="list-group-item"><a class="link-primary" routerLink="/admin/products">Manage Products</a>
                </li>
            </ul>
        </div>

        <div class="col-md-8 product-list">
            <h4>Product List</h4>
            <div style="height: 75vh; overflow-y: auto;">
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th>P Image</th>
                            <th>Product Name</th>
                            <th>Unit Price(USD)</th>
                            <th>Actual Price(USD)</th>
                            <th>Quantity</th>
                            <th>Current Status</th>
                          </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-4">
                            <td>
                                <img width="150px" src="https://image-us.samsung.com/us/smartphones/galaxy-s22/images/gallery/R0-Green/FLRC-214-R0-Green-01-PDP-GALLERY-1600x1200.jpg?$product-details-jpg$" />
                              </td>
                              <td>{{product.name}}</td>
                              <td>{{product.sellingPrice}}</td>
                              <td>{{product.actualPrice}}</td>
                              <td>{{product.quantity}}</td>
                              <td *ngIf="product.isActive">Active</td>
                              <td *ngIf="!product.isActive" >Deactive</td>
                              <td>
                                <span>
                                    <button type="button" *ngIf="!product.isActive" (click)="approve(product)" class="btn btn-success ml-2">Approve</button>
                            <button type="button" *ngIf="product.isActive" (click)="decline(product)" class="btn btn-danger ml-2">Decline</button>
                                </span>
                                

                              </td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>
    </div>
</div>