<div class="card border">
  <div class="card-body" (click)="getItem(product)">
    <h5 class="card-title" >{{product.name}}</h5>
    <img width="80%" src="https://image-us.samsung.com/us/smartphones/galaxy-s22/images/gallery/R0-Green/FLRC-214-R0-Green-01-PDP-GALLERY-1600x1200.jpg?$product-details-jpg$" />
    <p>Price: ${{product.price}}</p>
    <a class="btn btn-outline-secondary btn-sm"  *ngIf="product.vehicleStatus === 'AVAILABLE'" (click)="reserve(product)">Reserve Now</a>
    <a *ngIf="product.vehicleStatus !== 'AVAILABLE'" class="btn btn-outline-primary btn-sm">Already Reserved</a>
  </div>
</div>
